@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-family: "inter", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

/* === RESPONSIVE GLOBAL ZOOM === */

/* Default (Desktop) */
body {
  zoom: 0.85;
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    zoom: 1;
  }
}

/* Mobile */
@media (max-width: 768px) {
  body {
    zoom: 1;
  }
}

@keyframes glowPulse {
  0% { box-shadow: 0 0 5px rgba(0,255,100,0.3); }
  50% { box-shadow: 0 0 15px rgba(0,255,100,0.8); }
  100% { box-shadow: 0 0 5px rgba(0,255,100,0.3); }
}

.animate-glow {
  animation: glowPulse 1.7s infinite ease-in-out;
  border: 1px solid #28d07e;
}

